@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;	
}

body{
	font-size:100px;
	color:rgba(255, 255, 255, 1);	
}

nav{
	width:100%;
	box-sizing:border-box;
	padding:5px;
	background:rgba(147, 129, 255, 1);
	text-align:center;
}

nav img{
	width:20%;
}

.ficon{
	font-size:100px;
	padding:5px;
}

section{
	display:flex;
	flex-direction:column;
	color: rgba(147, 129, 255, 1);
}

.box{
	width:100%;
	/*min-height:100vh;*/
}

.box:nth-child(1){
	flex:1;
	background:rgba(248, 247, 255, 1);
}

.box:nth-child(2){
	flex:1;
	background: url(http://t2.gstatic.com/images?q=tbn:ANd9GcS0isw0pqzt8t5ISSdL9dxbBN_fZGf76-5rPl2hGZ6jch90YO8S) no-repeat left rgba(255, 238, 221, 1);
	background-size:cover;
}

.box:nth-child(3){
	flex:2;
	background:rgba(255, 216, 190, 1);
}

p{
	font-size:32px;
	border:solid 50px #FF3300;
}

/*for tablets*/
@media only screen and (min-width: 768px) {
nav img{
	width:20%;
}

section{
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
}

.box:nth-child(1){
	flex:1;
}

.box:nth-child(2){
	flex:1;
	order:-1;
}

.box:nth-child(3){
	flex:2;
}

}

/*for desktops*/
@media only screen and (min-width: 1200px) {
nav img{
	width:10%;
}
}